html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

body {
    position: relative;
    margin: 0;
    padding: 0;
  }

.jumbotron {
    text-align: center;
    color: #e9ecef;
    height: 100vh;
    background-image: url('./assets/toronto2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 6rem;
    color: #ffffff;
}

h2 {
    font-size: 2.5rem;
}


.row {
    margin: auto;
}

.projectsSection {
    height: 100vh;
}

.socials {
    margin-top: 1rem;
    text-align: center;
    /* font-size: 4rem; */
}

.test {
    height: 100vh;
}


@media (max-width: 576px) { 
    .socialsList {
        display: flex;
        flex-direction: column;
    } 
    h1 {
        font-size: 4rem;
        padding-top: 2rem;
    }
    h2 {
        text-align: center;
    }
    .socials {
        margin-top: 1.5rem;
    }
    .img-school{
        padding-bottom: 1.5rem;
    }
    .educationTitle {
        text-align: center;
    }
    .educationRow{
        text-align: center;
    }
}

.styleB {
    /* background-color: #e9ecef; */
    background-color: #343a40;
    color:rgba(255,255,255,.5);
}

.darkh2 {
    color: #fff;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.progress {
    margin-bottom: 2rem;
    height: 2.5rem;
}

h3 {
    padding-top: 0.5rem;
}

.projectItem {
    padding: 2rem;
}
.projectItem:hover {
    background-color: #e9ecef;
    transition: 0.4s ease-in-out;
}

.profilepic {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
        border: 4px solid #343a40;
        vertical-align: middle;
        margin: 0.5rem;
}

.about, .projects, .skills, .education {
    font-size: 1.2rem;
}

.img-school {
    width: 100%;
    max-width: 200px;
}

.educationRow {
    padding: 1rem
}

.copyright {
    text-align: center;
    margin: 0;
}

